:root {
    /***** font family *****/
    --font-family-primary: "poppins", sans-serif;
    /***** color *****/
    --color-chrome-yellow: #FFA800;
    --color-royal-flycatcher: #F06500;
    --color-white: #FFFFFF;
    --color-raven: #0C0B0B;
    --bg-black-wash: #0C0C0C;
    --bg-chrome-yellow: #FFA800;
    --bg-royal-flycatcher: #F06500;
    --bg-aqua-green: #00E396;
    --bg-thick-purple: #8B35E2;
    --bg-krishna-blue: #00B2FF;
    --bg-neon-fuchsia: #FF4560;
    --bg-siyah-black: #1D1A1A;
    --bg-kettle-black: #151313;
    --color-black: #000000;
    /***** font size *****/
    --fs-extra-small: 14px;
    --fs-sm: 18px;
    --fs-base: 22px;
    --fs-md: 28px;
    --fs-lg: 36px;
    --fs-xl: 48px;
    --fs-2xl: 96px;
    /***** line height *****/
    --lh-25: 25.2px;
    --lh-32: 32.4px;
    --lh-33: 33px;
    --lh-42: 42px;
    --lh-54: 54px;
    --lh-61: 61.64px;
    --lh-95: 95.52px;
    /* opacity */
    --opacity-70: 70%;
}

/***** font family *****/
.font-family-primary {
    font-family: var(--font-family-primary);
}

/***** color *****/
.color-chrome-yellow {
    color: var(--color-chrome-yellow);
}

.color-royal-flycatcher {
    color: var(--color-royal-flycatcher);
}

.bg-siyah-black {
    background-color: var(--bg-siyah-black);
}

.color-raven {
    background: var(--color-raven);
}

.bg-black-wash {
    background-color: var(--bg-black-wash);
}

.bg-chrome-yellow {
    background-color: var(--bg-chrome-yellow);
}

.bg-royal-flycatcher {
    background-color: var(--bg-royal-flycatcher);
}

.bg-aqua-green {
    background-color: var(--bg-aqua-green);
}

.bg-thick-purple {
    background-color: var(--bg-thick-purple);
}

.bg-krishna-blue {
    background-color: var(--bg-krishna-blue);
}

.bg-neon-fuchsia {
    background-color: var(--bg-neon-fuchsia);
}

/***** font size *****/
.fs-extra-small {
    font-size: var(--fs-extra-small);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-base {
    font-size: var(--fs-base);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

/***** line height *****/
.lh-25 {
    line-height: var(--lh-25);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-33 {
    line-height: var(--lh-33);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-95 {
    line-height: var(--lh-95);
}

/* opacity */
.opacity-70 {
    opacity: var(--opacity-70);
}

@media (max-width:767.98px) {
    :root {
        --fs-2xl: 58px;
        --lh-95: normal;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-xl: 35px;
        --fs-2xl: 48px;
        --lh-61: normal;
    }
}