@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

.max-w-1320 {
    max-width: 1320px !important;
}

/***** navbar *****/
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate40 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.rotate-45 {
    transform: rotate(-43deg);
}

.py-23 {
    padding-top: 23px;
    padding-bottom: 23px;
}

.blur-16 {
    background: #000000BF;
}

.gap-32 {
    gap: 32px;
}

.nav-btn {
    padding: 7px 23px 7px 23px;
    border-radius: 23.5px;
    border: none;
    background: linear-gradient(90deg, var(--color-chrome-yellow) 0%, var(--color-royal-flycatcher) 100%);
}

/***** header  *****/

.bg-img-1 {
    background-image: url(../images/png/header-bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.max-w-660 {
    max-width: 660px;
}

.mt-59 {
    margin-top: 59px !important;
}

.connect-btn {
    padding: 12px 32px 12px 32px;
    border-radius: 33px;
    border: none;
    background: linear-gradient(90deg, var(--color-chrome-yellow) 0%, var(--color-royal-flycatcher) 100%);
}

.mt-62 {
    margin-top: 62px;
}

.box {
    max-width: 1320px;
    padding: 24px;
    border-radius: 10px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    position: relative;
    backdrop-filter: blur(32px);
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

/* section 1 */
.mt-32 {
    margin-top: 32px;
}

/***** max-width *****/
@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
        backdrop-filter: blur(90px)
    }

    .show-navbar {
        right: 0 !important;
    }
}

/***** min-width *****/
@media (min-width:992px) {
    .blur-16 {
        backdrop-filter: blur(16px)
    }
}

@media (min-width:1200px) {
    .box {
        transform: translateY(-125px);
    }
}